@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: 'MyWebFont';
    src: url('./Telenor-Regular.woff') format('woff'), /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
         url('Telenor-Regular.otf') format('truetype'); /* Chrome 4+, Firefox 3.5, Opera 10+, Safari 3—5 */
}  

*{
    font-family: "MyWebFont", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
   
}

/* *{
    font-family: "Text Me One", sans-serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
    font-size: medium;
} */